[Desktop Entry]
Version=2.5.3
Type=Application
Name=Affinity Designer
Comment=Affinity Designer
Exec=/usr/local/bin/rum ElementalWarrior-8.14 /home/hesperaux/.wineAffinity wine /home/hesperaux/.wineAffinity/drive_c/Program\ Files/Affinity/Designer\ 2/Designer.exe
Icon=~/.local/share/icons/affinity_designer.png
Terminal=false
StartupNotify=false
