[Desktop Entry]
Version=2.5.3
Type=Application
Name=Affinity Photo
Comment=Affinity Photo
Exec=/usr/local/bin/rum ElementalWarrior-8.14 /home/hesperaux/.wineAffinity wine /home/hesperaux/.wineAffinity/drive_c/Program\ Files/Affinity/Photo\ 2/Photo.exe
Icon=~/.local/share/icons/affinity_photo.png
Terminal=false
StartupNotify=false
